<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="login-container">
    <h1>로그인</h1>
    아이디:<input type="text" id="username" name="username" required>
    <label for="password">비밀번호:</label> <br>
    <input type="password" id="password" name="password" required>
    <button type="submit">로그인</button><br>
    <a href="/users/find-password">비밀번호 찾기</a>
    <a href="/users/register">회원가입</a>
</div>
<script>

</script>
</body>
</html>